body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

/* navbar */
.navbar {
  width: 6%;
  height: 100vh;
  position: fixed;
  background-color: #757575;
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  text-decoration: none;
}

.link-text {
  position: absolute;
  font-size: 0.96rem;
  color: white;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.nav-link img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.icon1:hover .text1 , .icon2:hover .text2 , .icon3:hover .text3 , .icon4:hover .text4 {
  opacity: 1;
}

.item1:hover .icon1 img , .item2:hover .icon2 img , .item3:hover .icon3 img , .item4:hover .icon4 img {
  opacity: 0;
}

/* home */
.page {
  margin-left: 5.3vw;
  width: 93vw;
  height: 100vh;
}

.homeImage {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: fixed url(img/Night.png) center center/cover;
}

.homeAlignText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.introduceText {
  position: absolute;
  width: auto;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: #ffffff;
}

.homeButton {
  background-color: #ffffff00;
  color: #ffffff;

  border: 2px solid #ffffff;
  padding: 12px 50px 12px 20px;
  margin: 30px auto;
  width: 127px;
  height: 25px;

  font-size: 19px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

.homeButton:hover {
  background-color: #633dd4;
  border-color: #633dd4;
}

.homeButton:hover .arrow {
  transform: rotate(90deg);
}

.arrow {
  position: absolute;
  right: 38%;
  vertical-align: middle;
  transition: transform 500ms;
}

/* profile */

.textColor{
  color: #625959;
}

.pageTitle {
  font-weight: 500;
  font-size: 54px;
  line-height: 63px;
  text-align: center;
  padding: 25px 0 15px;
  margin: 0;
}

hr {
  width: 70%;
}

.minHeight {
  height: auto;
  min-height: 100vh;
}

.split {
  display: flex;
  flex-wrap: nowrap;
}

.profilePic {
  width: 295px;
  display:block;
  margin: 30px auto 10px;
}

.profilePage h2 {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.aboutMeText {
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  margin: 5px auto;
  width: 90%;
}

.aboutMeText a {
  text-decoration: none;
}

.starsCase {
  justify-content: flex-end;
  flex-direction: row;
  background: #868686;
  padding: 5.5px 10px;
  border-radius: 0px 5px 5px 0px;
}

.bar {
  display: flex;
  width: 275px;
  height: 39px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin: 17px 0;
}

.bar p {
  width: 116px;
  padding: 9px 0;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #04C2C9;
  border-radius: 5px 0px 0px 5px;
  margin: 0;
}

.barSkill {
  display: flex;
  height: 39px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin: 17px 0;
}

.barSkill p{
  width: 116px;
  padding: 9px 0;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #04C2C9;
  border-radius: 5px;
  margin: 0;
}

.fullStar {
  color: #FFC04A;
}

.languagesBox {
  margin: 20px 0 30px;
}

.skillsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.abilities {
  margin-top: 23px;
  max-width: 870px;
}

/* portfolio */
.portfolioPage {
  background-color: #a9c8c9cc;
  height: 100%;
}

.flexBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 82.5%;
}

.ebuy {
  background: url(img/ebuy.png) no-repeat center center/cover;
}

.colorGuess {
  background: url(img/colorGuess.png) no-repeat center center/cover;
}

.movieCards {
  background: url(img/movieCards.png) no-repeat center center/cover;
}

.imgSize {
  position: relative;
  width: 33%;
  height: 42%;
}

.portfolioHideText {
  background-color: #516acdef;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;

  flex-direction: column;
  justify-content: space-around;
  line-height: 28px;
  font-size: 18px;
  display: flex;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.projectTitle {
  font-size: 24px;
}

.portfolioButtons {
  display: flex;
  justify-content: space-around;
}

.portfolioButtons a {
  border: 2px solid #ffffff;
  border-radius: 5px;

  padding: 5px 13px;
  width: 100px;
  font-size: 20px;

  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.ebuy:hover .portfolioHideText , .colorGuess:hover .portfolioHideText, .movieCards:hover .portfolioHideText{
  opacity: 1;
}

.portfolioHideText div {
  margin: 0 20px;
}

/* contact */
.contactPage {
  background-color: #4e4e4e;
  height: 101.5%;
}

.contactPage h1 {
  color: #ffffff;
}

.contactIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  height: 75%;
  width: 270px;
  margin: 0 auto;
}

.contactIcons a img {
  width: 62px;
  margin-right: 20px;
}

.contactIcons a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    height: 5rem;
    bottom: 0px;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  body {
    margin: 0;
  }

  .page {
    margin: 0;
    width: 100vw;
  }

  .arrow {
    right: 25vw;
  }

  .introduceText {
    margin: 2vw;
    font-size: 8vw;
  }

  .split {
    flex-wrap: wrap;
  }

  .profilePic {
    width: 45vw;
  }

  .pageTitle {
    padding: 6px;
    font-size: 46px;
  }

  .profilePage h2 {
    font-size: 30px;
  }

  .aboutMeText {
    font-size: 15px;
  }

  .minHeight {
    height: auto;
  }

  .flexBox {
    flex-wrap: wrap;
  }

  .imgSize {
    width: 85%;
  }

  .bar {
    margin: 7px;
  }

  .contactIcons a img {
  width: 46px;
  }

}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    left: 0;
  }
}